<row>
    <h1>Fill in the plane details here.</h1>
</row>
<br>
<form class="formcenter" data-toggle="validator" role="form" id="plane-form">

    <div class="row form-group">
        <div class="col-25">
            <label for="serial-input">Serial number</label>
        </div>
        <div class="col-75">
            <input type="text" class="form-control" id="serial-input" placeholder="Enter serial number" required>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-25">
            <label for="maxfuel-input">Maximum fuel</label>
        </div>
        <div class="col-75">
            <input type="text" class="form-control" id="maxfuel-input" placeholder="Enter maximum fuel" required>
        </div>
    </div>
    <div class="row">
        <input type="submit" id="submitButton" value="Submit">
    </div>
</form>

<script type="text/javascript" src="js/plane_crud.js"></script>
<script type="text/javascript" src="js/plane_addform.js"></script>